/*google fonts import*/
/*header font*/
@import url('https://fonts.google.com/specimen/Playfair+Display?preview.text=the%20corsetry%0A');
/*body text*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;  
    /*generic styles*/
    color: #053a31; 
    font-family: 'Roboto Mono', monospace;
}

/*header img styling*/
#hero {
    height: 600px;
    width: 100%;
    /*this adds img to page head by gooing form assets to images to the acctual pic. then we make sure this centerd n pretty with thw follwoing commands. the commansd also make sure the img dosnet get distorted n weird on diffrant screansgi*/
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}


header {
    background-color: rgb(229, 229, 229);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0;
    box-shadow: 0 2px 3px #93938a;
   
}

header a {
    text-decoration: none;
    color: inherit;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    
}


#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1 em;
}

.active {
    border-bottom: 1px solid #14ceaf;
}

h1 {
    color: #053a31;
    text-transform:initial;
    letter-spacing: 2px;
    font-family: 'Playfair Display', serif;
    font-size: 45px;
    text-decoration: none;
    
}

h2, h3 {
    font-family: 'Playfair Display', serif;;
}

/*main content*/
main {
    background-color: aquamarine;
    /*this element pushes the footer down*/
    flex: 1 0 auto;
}

footer {
    background-color: brown;

}

/*artist photo*/
#ava {
    height: auto;
    max-width: 50%;
    position: relative;

}

#corset-img {
    height: auto;
    max-width: 50%;
    position: relative;

}

#machine-img {
    height: auto;
    max-width: 30%;
    position: relative;

}

#thread-img {
    height: auto;
    max-width: 30%;
    position: relative;

}

#fabric-img {
    height: auto;
    max-width: 30%;
    position: relative;

}

/*google map adjustment from hubspot*/
.google-map {
    padding-bottom: 30%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}

